version: "3.9"

services:
  node-backend:
    container_name: mypdf-backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    restart: unless-stopped
    environment:
      PORT: 3001
